.root {
	border: 1px solid white;
	padding: 16px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.description {
	color: rgba(255,255,255,0.7);
	margin-bottom: 8px;
}

.versionLabel {
	margin-right: 8px;
}

.textarea {
	display: block;
	max-width: 300px;
	width: 100%;
}

.gridGroup {
	width: 100%;
	margin: 4px 0;
}


.filenameLabel {
	color: rgba(255,255,255,0.7);
	line-height: 1;
}
