.outputText {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  white-space: pre-line;
  line-height: normal;
}

.outputText.error {
  padding-top: 4px;
  padding-bottom: 4px;
  color: #d93025;
  font-size: 14px;
}

:global(html[data-theme='dark']) .outputText.error {
  color: rgb(222, 69, 60);
}

.dateFormat {
  font-size: 14px;
}

.swapButton {
  display: block;
  margin-top: 8px;
}
